@import "../../styleSheets/globalColors.scss";

.bg {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: $gold900;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

