@import "../../../styleSheets/globalColors.scss";

.container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin: 12px 16px 0px;
  background-color: transparent;
  transition: background-color 100ms;
  transition-delay: 1ms;
}

.container.active {
  background-color: $gray100;
  transition-delay: 200ms;
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.label.active {
  border-bottom: 1px solid $gray400;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: border 400ms;
}

.label {
  border-bottom: 1px solid transparent;
  transition: border 100ms;

  display: flex;
  justify-content: space-between;
  background-color: $gray100;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  height: 70px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.checkbox {
  position: absolute;
}

.name {
  border: none;
  display: flex;
  flex-flow: row nowrap;
  line-height: 1rem;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  color: $gold900;

  overflow: hidden;

  .description {
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
    overflow: hidden;
  }

  .message {
  }
}

.image {
  transition: 0.3s;
  transform: translate(0px, 0px);

  img {
    width: 40px;
    height: 40px;
  }
}

.images {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

.icon {
  cursor: pointer;
  display: block;
  padding: 4px 16px;

  background: #f1ece4;
  border-radius: 100px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: $gold900;
  -webkit-tap-highlight-color: transparent;
}

.amount {
  text-align: right;
  font-size: 15px;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;

  color: $gray900;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  .description {
  }

  .message {
  }
}

.paymentBlock {
  transition: 0.3s;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 10px;
  padding-right: 0px;
  justify-content: space-between;
}

.label.paidBack {
  border-bottom: 1px solid white;
  background: #e6efed;

  .name {
    .description {
      color: $green900;
    }
  }
  .amount {
    .description {
      color: $green900;
    }
  }
}

.payment.collapse.paidBack {
  background: #e6efed;
  .allocation.buttons {
    padding: 0;
    border-top: 1px solid white;
  }
}

.paymentCollapse.paidBack {
  background: #e6efed;
  background-color: #e6efed;
}

.paymentCollapse {
  margin-bottom: 100px;
  background-color: $gray100;
  position: relative;
  font-size: 13px;
  color: $gray900;
  margin: 0px 16px 0px;
  padding: 10px 16px 5px;
  padding-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;

  .allocations {
    padding-left: 37px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;

    .allocationInner {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  .allocation.title {
    padding: 3px 10px;
  }
}

.allocation::before {
  content: "";
  padding-right: 2px;
  display: inline-block;
  position: relative;
  top: 5px;
  width: 12px;
  height: 1px;
  border-bottom: 0px solid transparent;
}

.allocation {
  display: flex;
  justify-content: space-between;

  .allocationInner {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .alloName {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  .alloAmount {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.buttons {
  padding: 0;
  border-top: 1px solid $gray400;

  display: flex;
  justify-content: flex-end;

  .btn {
    cursor: pointer;
    padding: 12px 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .btn.edit {
    color: $gold900;
    margin-right: -8px;
  }
}

.buttons.paidBack {
  .btn {
    margin-right: -8px;
  }
  .btn.edit {
    color: $green500;
    margin-right: -8px;
  }
}
