@import '../../styleSheets/globalColors.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strokeWhite {
  path {
    stroke: $white;
  }
}

.white {
  path {
    fill: $white;
  }
}
.gray700 {
  path {
    fill: $gray700;
  }
}

.black {
  path {
    fill: $black;
  }
}

.green500 {
  path {
    fill: $green500;
  }
}

.red {
  path {
    fill: $red;
  }
}
