@import "../../../styleSheets/globalColors.scss";

.button {
  border: none;
  width: 100%;
  padding: 12px 0px;
  border-radius: 100px;
  font-size: 16px;
  background: rgb(136,99,28);
  background: linear-gradient(90deg, rgba(136,99,28,1) 0%, rgba(197,175,133,1) 100%);
  color: white;
  font-weight: 600;
}

button:focus,
button:active {
  outline: none;
}

button:focus,
button:active {
  outline: none;
  background: linear-gradient(90deg, rgba(136,99,28,1) 0%, rgba(197,175,133,1) 100%);
}
