@import "../../styleSheets/globalColors.scss";

.header {
  min-height: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}

.innerBlock {
  display: flex;
  align-items: center;
  flex-flow: row;
  color: $gold900;

  .icon {
    transition: .3s;
    color: $gold900;
    font-size: 20px;
    margin-right: 20px;
    padding-bottom: 0px;
  }
  .name {
    color: white;
    color: $gold900;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    padding: 0;
  }
}
