
.container {
  background-color: #ffffff;
  z-index: 300;
  width: 100%;
  position: absolute;
  text-align: left;
  overflow: auto;
  left: 0;
  top: 0;
  margin: auto;
  bottom: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;

  form {
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    width: 80vw;
    max-height: calc(80vh - 66px);
    height: calc(80vh - 66px);
    background-color: #fff;
  }
}
