@import "../styleSheets/globalColors.scss";

label.group-menu-label.group-menu-payment:focus-within  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
}

label.group-menu-label.group-menu-payment.active::before {
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gold900;
}

label.group-menu-label.group-menu-payment {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: .3s;
  margin: 4px 10px;
  padding-left:  20px;
  padding-right: 20px;
  border: 1px solid #eee;
  height: 70px;
  border-radius: 5px;

  .group-menu-date {
    font-weight: 400;
    font-size: 12px;
    width: 38px;
  }

  .group-menu-date.active {
    display: none;
    transform: translate(-10px, 0px);
    font-weight: 400;
    width: 52px;
  }

  .group-menu-image-block.active {
    transform: translate(-10px, 0px);
  }

  .group-menu-image-block {
    transition: .3s;
    transform: translate(0px, 0px);

    img {
      width: 28px;
      height: 28px;
    }
  }

  .group-menu-payment-block.active {
    transform: translate(-10px, 0px);
  }

  .group-menu-payment-block {
    transition: .3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .group-menu-checkbox {
    padding-right: 10px;
  }

  .group-menu-username {
    border: none;
    display: flex;
    flex-flow: column nowrap;
    line-height: 1rem;
    justify-content: center;
    padding: 0px 10px;
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;

    .description {
      font-weight: 500;
      font-size: 15px;
    }
    .message {
      font-weight: 300;
      font-size: 10px;
    }
  }
  .group-menu-amount {
    text-align: right;
    font-size: 15px;
    width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .group-menu-amount.active {
    display: none;
  }


  .group-menu-username.disabled {
    border-bottom: 1px solid transparent;
  }

  .group-menu-username.select-all {
    position: relative;
  }

  .group-menu-username.select-all > div {
    position: relative;
    bottom: 4px;
  }

  .btn-group.active {
    background-color: #fff;
    transform: translate(0px, 0px);
  }

  .btn-group {
    right: 0;
    position: absolute;
    width: 80px;
    height: 50px;
    line-height: 40px;
    transition: .3s;
    transform: translate(100px, 0px);
    display: flex;
    justify-content: center;
  }

  button {
    background-color: $gold500;
    width: 35px;
    padding: 5px 0px;
    background: none;
    background-color: transparent;
    border: none;
    outline: none;

    .fa-edit {
      color: $gold900;
    }
    .fa-trash {
      color: $gold900;
    }
  }

  button:active,
  button:hover,
  button:focus {
    outline: none;
    background: none;
    background-color: none;
     -webkit-appearance: none;
    -moz-appearance: none;
  }

  button:active .fa-trash,
  button:active .fa-edit {
    color: $gold700;
  }
}

.payment.collapse {
  margin-bottom: 100px;
  background-color: #fff;
  position: relative;
  font-size: 13px;
  color: $gray900;
  margin: 0px 20px 10px;
  padding: 10px 10px 5px;
  border-left: 1px solid $gray400;
  border-bottom: 1px solid $gray400;
  border-bottom-left-radius: 10px;
  border: none;

  .allocations {
    margin-left: 10px;
    border-left: 1px solid $gray400;
    border: none;

    .allocationInner {
      display: flex;
      padding: 0px 10px;
      justify-content: space-between;
      flex-grow: 1;
    }

    .allocation::before {
      content: '';
      padding-right: 2px;
      background-color: #eee;
      display: inline-block;
      position: relative;
      top: 5px;
      width: 12px;
      height: 1px;
      border-bottom: 1px solid $gray400;
    }
  }

  .allocation {
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;

    span {
      font-weight: 450;
      color: $gold900;
    }
  }

  .allocation.title {
    padding: 3px 10px;
  }

  .allocation.amount {
    justify-content: flex-end;
    padding: 5px 10px;
    font-weight: 500px;
  }
}
