@import "../styleSheets/globalColors.scss";

label.group-menu-label.group-menu-summary:focus-within  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

label.group-menu-label.group-menu-summary::before {
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gold900;
}

label.group-menu-label.group-menu-summary {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: .3s;
  margin: 8px 12px;
  padding-right: 23px;
  border: 1px solid #eee;
  height: 70px;

  .group-menu-date {
    font-weight: 400;
    width: 52px;
  }

  .group-menu-image-block.active {
    transform: translate(-10px, 0px);
  }

  .group-menu-image-block {
    transition: .3s;
    transform: translate(0px, 0px);

    img {
      width: 32px;
      height: 32px;
    }
  }

  .group-menu-payment-block.active {
    transform: translate(-10px, 0px);
  }

  .group-menu-payment-block {
    transition: .3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .group-menu-checkbox {
    padding-right: 10px;
  }

  .group-menu-username {
    border: none;
    display: flex;
    flex-flow: column nowrap;
    line-height: 1rem;
    justify-content: center;
    padding: 0px 13px;
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;

    .description {
      font-weight: 500;
    }
  }
  .group-menu-amount {
    text-align: right;
      font-weight: 400;
    width: 70px;
  }
}

.user-summary.collapse {
  background-color: #fff;
  position: relative;
  font-size: 13px;
  color: $gray900;
  margin: 0px 20px 10px;
  border-left: 1px solid $gray400;
  border-bottom: 1px solid $gray400;
  border-bottom-left-radius: 10px;
}
