@import "../../../styleSheets/globalColors.scss";

.container {
  position: absolute;
  bottom: 0;
  height: calc(100vh - 66px);
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
  transform: translateY(100%);
  transition: 0.2s;
}

.container.mount {
  transform: translateY(0%);
}

.labels {
  position: relative;
  width: 100%;
  height: calc(100vh - 79px);
  overflow: auto;
}
